# Marketing Analytics Case Study

### <u>Introduction </u>
The marketing team at DVD Rental Co has entrusted us with the task of providing analytical inputs essential for their inaugural customer email campaign. These personalized emails are anticipated to boost sales and engagement within the DVD Rental Co customer community. The primary objective is to convey insights into each customer's viewing habits, showcasing DVD Rental Co's unwavering commitment to customer satisfaction.

The marketing team has specifically requested insights into each customer's top two categories and favorite actor. Additionally, they seek three personalized recommendations based on each customer's viewing history, along with titles popular among other customers.

### Entity-Relationship Diagram

<div>
<img src="week2_screenshots/entity-diagram2.png" width="500"/>
</div>

### <u>Email Template </u>
The email template below shows the data analytics and customer insight components numbered according to the questions that will be explored in this case study.

<div>
<img src="week2_screenshots/s1a.png" width="500"/>
</div>

```sql
-- create a base dataset and join all relevant tables - complete dataset 
DROP TABLE IF EXISTS complete_dataset; 
CREATE TEMP TABLE complete_dataset AS (
SELECT
      r.customer_id, 
      f.film_id, f.title, 
      c.name, r.rental_date
FROM dvd_rentals.rental AS r
  INNER JOIN dvd_rentals.inventory AS i 
  ON r.inventory_id = i.inventory_id
  INNER JOIN dvd_rentals.film AS f 
  ON i.film_id = f.film_id
  INNER JOIN dvd_rentals.film_category AS fc 
  ON f.film_id = fc.film_id 
  INNER JOIN dvd_rentals.category as c 
  ON fc.category_id = c.category_id
);

-- Calculate customer rental counts for each category
DROP TABLE IF EXISTS category_counts; 
CREATE TEMP TABLE category_counts AS (
SELECT customer_id, 
       name, COUNT(*) AS category_count
FROM complete_dataset
GROUP BY customer_id, name
ORDER BY customer_id, category_count DESC 
);

--aggregate all customer total films watched
DROP TABLE IF EXISTS total_counts; 
CREATE TEMP TABLE total_counts AS ( 
SELECT customer_id, SUM(category_count) AS total_films
FROM category_counts
GROUP BY customer_id 
ORDER BY total_films DESC
);

-- top 2 categories for each customer 
DROP TABLE IF EXISTS top_categories; 
CREATE TEMP TABLE top_categories AS (
SELECT *, 
RANK() OVER 
  (PARTITION BY customer_id 
    ORDER BY category_count DESC) AS category_rank
FROM category_counts
);

-- calculate each category's average rental count 
SELECT name, FLOOR(AVG(rental_count)) AS avg_category_rental FROM category_counts
GROUP BY name
ORDER BY avg_category_rental DESC, name
```

##### 1. What was the top category watched by total rental count?

##### 2. How many total films have they watched in their top category and how does it compare to the DVD Rental Co customer base?

##### 3. How many more films has the customer watched compared to the average DVD Rental Co customer?

##### 4. How does the customer rank in terms of the top X% compared to all other customers in this film category?

##### 5. What are the top 3 film recommendations in the top category ranked by total customer rental count which the customer has not seen before?