## Week 2 - Pizza Runner

### <u>Introduction </u>

Did you know that over 115 million kilograms of pizza are devoured daily worldwide? This astounding statistic, coupled with Danny's serendipitous encounter with the phrase "80s Retro Styling and Pizza Is The Future!" on Instagram, sparked the inception of Pizza Runner. Recognizing that traditional pizza alone wouldn't suffice to propel his vision forward, Danny conceived the idea to "Uberize" pizza deliveryâ€”a concept that laid the foundation for Pizza Runner.

### <u>Entity-Relationship Diagram </u>
<div>
<img src="../sql-screenshots/pizza_runner_images/entity-diagram.png" width="500"/>
</div>

#### A. Pizza Metrics
##### 1. How many pizzas were ordered?
```sql
SELECT COUNT(pizza_id) AS pizza_count 
FROM pizza_runner.customer_orders
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s1.png" width="250"/>
</div>

##### 2. How many unique customer orders were made?
```sql 
SELECT COUNT(DISTINCT customer_id) AS unique_customer_orders 
FROM pizza_runner.customer_orders
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s2.png" width="250"/>
</div>

##### 3. How many successful orders were delivered by each runner?
```sql 
SELECT runner_id,
SUM(CASE 
  WHEN cancellation IS NULL OR 
       cancellation = 'null' OR 
       nullif(cancellation, '') IS NULL 
       THEN 1 ELSE 0 
  END) AS success_orders
FROM pizza_runner.runner_orders AS ro 
GROUP BY runner_id
ORDER BY runner_id 
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s3.png" width="250"/>
</div>

##### 4. How many of each type of pizza was delivered?
```sql
SELECT pizza_name,
SUM(CASE 
  WHEN cancellation IS NULL OR 
       cancellation = 'null' OR 
       nullif(cancellation, '') IS NULL 
       THEN 1 ELSE 0 
  END) AS success_orders
FROM pizza_runner.runner_orders AS ro 
LEFT JOIN pizza_runner.customer_orders AS co 
ON ro.order_id = co.order_id 
LEFT JOIN pizza_runner.pizza_names AS pn 
ON co.pizza_id = pn.pizza_id 
GROUP BY pizza_name 
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s4.png" width="250"/>
</div>

##### 5. How many Vegetarian and Meatlovers were ordered by each customer?

```sql
SELECT customer_id, pizza_name, COUNT(pizza_name) AS pizza_count 
FROM pizza_runner.customer_orders AS co 
LEFT JOIN pizza_runner.pizza_names AS pn 
ON co.pizza_id = pn.pizza_id
GROUP BY customer_id, pizza_name 
ORDER BY customer_id
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s5.png" width="250"/>
</div>

##### 6. What was the maximum number of pizzas delivered in a single order?

```sql 
WITH t1 AS (
SELECT ro.order_id, 
  COUNT(CASE WHEN cancellation IS NULL OR 
       cancellation = 'null' OR 
       nullif(cancellation, '') IS NULL 
       THEN 1 ELSE 0 
  END) AS pizza_success
FROM pizza_runner.runner_orders AS ro 
LEFT JOIN pizza_runner.customer_orders AS co 
ON ro.order_id = co.order_id 
GROUP BY ro.order_id 
)

SELECT order_id, MAX(pizza_success) AS max_pizza_order 
FROM t1 
GROUP BY order_id 
ORDER BY max_pizza_order DESC
LIMIT 1 
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s6.png" width="250"/>
</div>

##### 7. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

```sql 
WITH t1 AS (
SELECT *, 
  CASE WHEN cancellation IS NULL 
  OR cancellation = 'null' 
  OR nullif(cancellation, '') IS NULL 
  THEN 1 ELSE 0 
  END AS cancel_status,
   CASE WHEN exclusions IS NULL 
            OR exclusions = 'null' 
            OR nullif(exclusions, '') IS NULL 
  THEN 0 
  ELSE 1 
  END AS exclusion_status, 
  CASE WHEN extras ='null' 
            OR nullif(extras, '') IS NULL 
  THEN 0 
  ELSE 1 
  END AS extras_status
FROM pizza_runner.runner_orders AS ro 
LEFT JOIN pizza_runner.customer_orders AS co 
ON ro.order_id = co.order_id
)

SELECT customer_id, SUM(change_count) AS total_change,SUM(no_change_count) AS total_no_change FROM 
(
  SELECT customer_id, 
      CASE WHEN exclusion_status = 1 AND extras_status = 1 
              OR exclusion_status = 1 AND extras_status = 0 
              OR exclusion_status = 0 AND extras_status = 1
              THEN 1 ELSE 0 END AS change_count,
      CASE WHEN exclusion_status = 0 AND extras_status = 0 
              THEN 1 ELSE 0 END as no_change_count
      FROM t1 
      WHERE cancel_status = 1 
)
GROUP BY customer_id 
ORDER BY customer_id 
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s7.png" width="250"/>
</div>

##### 8. How many pizzas were delivered that had both exclusions and extras?

```sql 
WITH t1 AS (
SELECT *, 
  CASE WHEN cancellation IS NULL 
  OR cancellation = 'null' 
  OR nullif(cancellation, '') IS NULL 
  THEN 1 ELSE 0 
  END AS cancel_status,
   CASE WHEN exclusions IS NULL 
            OR exclusions = 'null' 
            OR nullif(exclusions, '') IS NULL 
  THEN 0 
  ELSE 1 
  END AS exclusion_status, 
  CASE WHEN extras ='null' 
            OR nullif(extras, '') IS NULL 
  THEN 0 
  ELSE 1 
  END AS extras_status
FROM pizza_runner.runner_orders AS ro 
LEFT JOIN pizza_runner.customer_orders AS co 
ON ro.order_id = co.order_id
)

SELECT pizza_id, 
      SUM(CASE WHEN exclusion_status = 1 AND extras_status = 1 
              THEN 1 ELSE 0 END) AS pizza_count
      FROM t1 
      WHERE cancel_status = 1
GROUP BY pizza_id 

```

<div>
<img src="../sql-screenshots/pizza_runner_images/s8.png" width="250"/>
</div>

##### 9. What was the total volume of pizzas ordered for each hour of the day?

```sql 
DROP TABLE IF EXISTS t1; 
CREATE TEMP TABLE t1 AS (
SELECT co.order_id, co.order_time, co.pizza_id, DATE_TRUNC('day', co.order_time) AS order_day, 
DATE_TRUNC('hour', co.order_time) AS order_hour
FROM pizza_runner.customer_orders AS co 
LEFT JOIN pizza_runner.runner_orders AS ro 
ON ro.order_id = co.order_id
);

SELECT DATE_PART('HOUR', order_hour) AS order_hour_part, COUNT(pizza_id) FROM t1 
GROUP BY order_hour_part
ORDER BY order_hour_part ASC
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s9.png" width="250"/>
</div>

##### 10. What was the volume of orders for each day of the week?

``` sql 
WITH t1 AS (
  SELECT
	TO_CHAR(order_time, 'Day') AS day,
	COUNT(order_id) AS order_count, 
	DATE_PART('dow', order_time) AS day_of_week 
FROM pizza_runner.customer_orders
GROUP BY order_time
ORDER BY order_time
)

SELECT day, SUM(order_count) AS total_orders
FROM t1 
GROUP BY day_of_week, day
ORDER BY day_of_week 
```

<div>
<img src="../sql-screenshots/pizza_runner_images/s10.png" width="250"/>
</div>