1. What is the total amount each customer spent at the restaurant?
~~~sql 
SELECT s.customer_id, SUM(price) AS total_spent FROM dannys_diner.sales AS s
LEFT JOIN dannys_diner.members AS m
ON s.customer_id = m.customer_id
LEFT JOIN dannys_diner.menu AS me
ON s.product_id = me.product_id
GROUP BY s.customer_id 
ORDER BY total_spent DESC

SELECT * FROM table1

![image info](./dannys_diner/s1.png)

2. How many days has each customer visited the restaurant?

~~~sql
SELECT
  customer_id,
  COUNT(DISTINCT order_date)
FROM dannys_diner.sales
GROUP BY 1
ORDER BY 2 DESC

![image info](./dannys_diner/s2.png)

3. What was the first item from the menu purchased by each customer?

~~~sql
WITH ranking_table AS (
SELECT m.customer_id, 
       s.order_date,
       RANK() OVER (PARTITION BY m.customer_id ORDER BY s.order_date) AS product_ranking,
       me.product_name
       FROM 
dannys_diner.members AS m 
JOIN dannys_diner.sales AS s
 ON m.customer_id = s.customer_id
JOIN dannys_diner.menu AS me 
 ON s.product_id = me.product_id
)

SELECT * FROM ranking_table
WHERE product_ranking = 1

![image info](./dannys_diner/s3.png)

4. What is the most purchased item on the menu and how many times was it purchased by all customers?

~~~sql 
DROP TABLE IF EXISTS t1; 

CREATE TEMP TABLE t1 AS (
SELECT me.product_name, s.order_date FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS me 
ON s.product_id = me.product_id
);

SELECT product_name, COUNT(product_name) AS product_count 
FROM t1 
GROUP BY product_name
ORDER BY product_count DESC

![image info](./dannys_diner/s4a.png)

5. Which item was the most popular for each customer?

~~~sql
DROP TABLE IF EXISTS t1; 

CREATE TEMP TABLE t1 AS (
SELECT s.customer_id, me.product_name, COUNT(me.product_name) AS product_count,
RANK() OVER (PARTITION BY s.customer_id ORDER BY COUNT(me.product_name) DESC) AS product_rank
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS me 
ON s.product_id = me.product_id
JOIN dannys_diner.members AS m 
ON m.customer_id = s.customer_id
GROUP BY s.customer_id, me.product_name
);

SELECT customer_id, product_name, product_count
FROM t1 
WHERE product_rank = 1

![image info](./dannys_diner/s5.png)